body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 3em 1fr 10fr;
    /* justify-items: stretch;
    align-items: center; */
    margin: 0;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    background-color: darkolivegreen;
}


main{

  position: relative;
    display: grid;
    grid-template: 1fr / 1fr;
    /*grid-template-columns: repeat(8, 50px);
    grid-template-rows: repeat(8, 50px);
    */
    grid-column-start: 2;
    grid-row-start: 3;
    aspect-ratio: 1/1;
    border: 1px solid black;
    /* justify-content: center; */
    margin: 0px;
}

.layer{
    grid-column: 1 / -1;
    grid-row: 1 / -1;

    width: 100%;
    height: 100%;
    display: grid;
}


.cell{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell_black{
    background-color: rgb(116, 192, 116);
}

.cell_white{
    background-color: lightgoldenrodyellow;
}

.piece{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 170%;

    aspect-ratio: 1/1;
    justify-self: center; /* horizontal alignment inside the cell */
    align-self: center;   /* vertical alignment inside the cell */
    border: 10px solid lightcoral; /*why does */
    background-color: lightpink;
    border-radius: 50%;
    width: 50%;
    height: 50%;
}   

.piece:focus{
    display: none; 
}

.piece_black{
    border-color: lightcoral;
    background-color: lightpink;
}

.piece_white{
    border-color: rgb(30, 84, 138);
    background-color: lightcyan;
}

.marker{
    border-color: grey;
    background-color: gray;
    display: inline;
    opacity: 70%;
}

/* .active_marker{
    display: inline;
    pointer-events: all;
} */



/* Alternatív tábla szín (amiket a JS fog kapcsolgatni) */
.cell_black_alt{
  background-color: grey !important;
}

.cell_white_alt{
    background-color: white !important;
}

/* Alternatív bábuk */
.piece_black_alt{
  background-color: white !important;
  border-color: black !important;
}
.piece_white_alt{
  background-color: red !important;
  border-color: black !important;
}

ul {
  grid-column: 1 / span 3;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: sticky;
  top: 0;
}

ul li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li button {
  background-color: #111111;
  color: white;
}

ul li:hover {
  
  background-color: #111111;
}

.p1{
  text-align: left;
  grid-column-start: 1;
  grid-row-start: 2;
  padding-top: 15%;
  margin: auto;
}

.p2{
 text-align: right;
  grid-column-start: 3;
  grid-row-start: 2;
  padding-top: 15%;
  margin: auto;
}
